In [1]:
from copy import copy

In [87]:
backwards = [
    'tac',
    'esuoheerT',
    'htenneK',
    [5, 4, 3, 2, 1],
]

In [99]:
def reverse(itr):
    item = copy(itr)
    sorted_items = item[::-1]
    return sorted_items

In [55]:
def reverse(itr):
    item = copy(itr)
    sorted_item = list(reversed(item))
    return sorted_item

In [33]:
def reverse(itr):
    item = copy(itr)
    sorted_items = [(i) for i in reversed(i)]
    return sorted_items

In [97]:
def reverse(item):
    item = copy(item)
    reversed_item = ''
    if isinstance(item, str):  
        reversed_lst = list(reversed(item))
        return ''.join(reversed_lst)
    elif isinstance(item, list):
        return list(reversed(item))
    else:
        print(f'{item} is not a string or list')
        return item

In [100]:
list(map(reverse, backwards))

TypeError: 'int' object is not subscriptable

In [79]:
cat = 'cat'

In [102]:
if isinstance(cat, str):  
    reversed_lst = list(reversed(cat))
    print(''.join(reversed_lst))

tac

In [113]:
import datetime
# from operator import itemgetter, attrgetter

In [110]:
dates = [
    datetime.datetime(2012, 12, 15),
    datetime.datetime(1987, 8, 20),
    datetime.datetime(1965, 2, 28),
    datetime.datetime(2015, 4, 29),
    datetime.datetime(2012, 6, 30),
]

In [133]:
def is_2012(day):
#     year = attrgetter('year')
    return day.year == 2012

In [134]:
goodyear = list(filter(is_2012, dates))

In [135]:
print(len(goodyear))

2

In [142]:
import json
class Book:
    def __init__(self, **kwargs):
        for k, v in kwargs.items():
            setattr(self, k, v)

    def __str__(self):
        return self.title
    
    def __repr__(self):
        return str(self)
    
    
def get_books(filename, raw=False):
    try:
        data = json.load(open(filename))
    except FileNotFoundError:
        return []
    else:
        if raw:
            return data['books']
        return [Book(**book) for book in data['books']]
    
BOOKS = get_books('books.json')
RAW_BOOKS = get_books('books.json', raw=True)

In [148]:
#pub_sort = sorted(RAW_BOOKS, key=itemgetter('publish_date'))
#print(pub_sort[0]['publish_date'], pub_sort[-1]['publish_date'])
       
#pages_sort = sorted(BOOKS, key=attrgetter('number_of_pages'), reverse=True)
#print(pages_sort[0].number_of_pages, pages_sort[-1].number_of_pages)

In [149]:
### MAP ###
def sales_price(book):
    """Apply a 20% discount to the book's price"""
    book = copy(book)
    book.price = round(book.price-book.price*.2, 2) # rounding to 2 digits
    return book

#sales_books = list(map(sales_price, BOOKS)) # using map
#sales_books2 = [sales_price(book) for book in BOOKS] # with list comprehension
#print(BOOKS[0].price)
#print(sales_books2[0].price)

In [150]:
### Filter ###
def is_long_book(book):
    """ Does a book have 600+ pages?"""
    return book.number_of_pages >= 600

long_books = list(filter(is_long_book, BOOKS))
long_books2 = [book for book in BOOKS if book.number_of_pages >= 600]
#print(len(BOOKS))
#print(len(long_books))
#print(len(long_books2))

In [143]:
## chaining ##
# finding Roland in any subject of books
def has_roland(book):
    # any returns true or false if ANY of the things return are true
    # any evaluate truthiness based on whether the dictionary is empty or not
    return any(["Roland" in subject for subject in book.subjects])
#    return ["Roland" in subject for subject in book.subjects]

In [144]:
def titlecase(case):
    book = copy(case)
    # .title() gives back title case
    book.title = book.title.title()
    return book

In [145]:
print(list(map(titlecase, filter(has_roland, BOOKS))))

[The Drawing Of The Three (The Dark Tower, Book 2), Song Of Susannah (The Dark Tower, Book 6), The Dark Tower (The Dark Tower, Book 7), The Waste Lands (The Dark Tower, Book 3), Wizard And Glass, Wolves Of The Calla (The Dark Tower, Book 5), The Gunslinger (The Dark Tower, Book 1)]

In [146]:
def is_good_deal(book):
    return book.price <= 5

In [151]:
# applying sales price function to books before filtering
cheap_books = sorted(filter(is_good_deal, map(sales_price, BOOKS)), key=attrgetter('price'))

In [154]:
cheap_books[0].price

2.8

In [155]:
birthdays = [
    datetime.datetime(2012, 4, 29),
    datetime.datetime(2006, 8, 9),
    datetime.datetime(1978, 5, 16),
    datetime.datetime(1981, 8, 15),
    datetime.datetime(2001, 7, 4),
    datetime.datetime(1999, 12, 30)
]

today = datetime.datetime.today()

In [160]:
today - birthdays[0]

datetime.timedelta(days=3478, seconds=44563, microseconds=452720)

In [164]:
days = (today - birthdays[0]).days
print(days)

3478

In [165]:
def is_over_13(birthday):
    days = (today - birthday).days
    return days >= 4745

In [166]:
def date_string(day):
    return day.strftime("%B %d")

In [180]:
birth_dates = filter(is_over_13, map(date_string, birthdays))

In [184]:
birth_dates2 = list(map(date_string, filter(is_over_13, birthdays)))

In [185]:
birth_dates2

['August 09', 'May 16', 'August 15', 'July 04', 'December 30']

In [186]:
temperatures = [
    37,
    0,
    25,
    100,
    13.2,
    29.9,
    18.6,
    32.8
]


def c_to_f(temp):
    """Returns Celsius temperature as Fahrenheit"""
    return temp * (9/5) + 32

In [189]:
good_temps = [c_to_f(temp) for temp in temperatures if temp >= 9 and temp <= 32.6]

In [190]:
good_temps

[77.0, 55.76, 85.82, 65.48]

In [193]:
from functools import reduce

In [194]:
def add_book_price(book1, book2):
    return book1 + book2

total = reduce(add_book_price, [b.price for b in BOOKS])
print(total)

225.30000000000004

In [201]:
def long_total(a=None, b=None, books=None):
    
#     handling if nothing passed
    if a is None and b is None and books is None:
        return None
    
#     handling normal conditions to pass through the function again
    if a is None and b is None and books is not None:
        a = books.pop(0)
        b = books.pop(0)
        return long_total(a, b, books)
    
#     have an A and books and books is not none
# need to get a b from books and pass back into the function
    if a is not None and books and books is not None and b is None:
        b = books.pop(0)
        return long_total(a, b, books)
    
#     since a and b exist we need to add together and pass back into the function
#  above line will accept it next because setting b back to none to take the next item off the list
    if a is not None and b is not None and books is not None:
        return long_total(a+b, None, books)
    
#     we have an A and have a B but books is empty
# return None for b and books and pass back into the function
    if a is not None and b is not None and not books:
        return long_total(a+b, None, None)
    
#     if above function runs, this will be last and give total
    if a is not None and b is None and not books or books is None:
        return a

In [ ]:
def long_total(a=None, b=None, books=None):
    
# handling if nothing passed
    if a is None and b is None and books is None:
        return None
    
# handling normal conditions to pass through the function again
    if a is None and b is None and books is not None:
        a = books.pop(0)
        b = books.pop(0)
        return long_total(a, b, books)
    
# have an A and books and books is not none
# need to get a b from books and pass back into the function
    if a is not None and books and books is not None and b is None:
        b = books.pop(0)
        return long_total(a, b, books)
    
# since a and b exist we need to add together and pass back into the function
# above line will accept it next because setting b back to none to take the next item off the list
    if a is not None and b is not None and books is not None:
        return long_total(a+b, None, books)
    
# we have an A and have a B but books is empty
# return None for b and books and pass back into the function
    if a is not None and b is not None and not books:
        return long_total(a+b, None, None)
    
# if above function runs, this will be last and give total
    if a is not None and b is None and not books or books is None:
        return a

In [202]:
print(long_total(None, None, [b.price for b in BOOKS]))

225.30000000000004

In [208]:
def factorial(n):
    if n==1:
        return 1
    else:
        print(n)
        return n * factorial(n-1)

In [209]:
print(factorial(5))

5
4
3
2
120

In [210]:
from operator import add

In [211]:
prices = [
    (6.99, 5),
    (2.94, 15),
    (156.99, 2),
    (99.99, 4),
    (1.82, 102)
]

def product_sales(price_and_units):
    return price_and_units[0] * price_and_units[1]

In [213]:
list(map(product_sales, prices))

[34.95, 44.1, 313.98, 399.96, 185.64000000000001]

In [219]:
reduce(add,map(product_sales, prices))

978.63

In [239]:
from operator import add

courses = {'count': 3,
           'title': 'Django Basics',
           'prereqs': [{'count': 3,
                     'title': 'Object-Oriented Python',
                     'prereqs': [{'count': 1,
                               'title': 'Python Collections',
                               'prereqs': [{'count':0,
                                         'title': 'Python Basics',
                                         'prereqs': []}]},
                              {'count': 0,
                               'title': 'Python Basics',
                               'prereqs': []},
                              {'count': 0,
                               'title': 'Setting Up a Local Python Environment',
                               'prereqs': []}]},
         {'count': 0,
          'title': 'Flask Basics',
          'prereqs': []}]}

In [240]:
def prereqs(data, pres=None):
    pres = pres or set()
    if data['count'] == 0:
        return None
    for pr in data['prereqs']:
        pres.add(pr['title'])
        prereqs(pr, pres)
    return pres

In [241]:
prereqs(courses)

{'Flask Basics',
 'Object-Oriented Python',
 'Python Basics',
 'Python Collections',
 'Setting Up a Local Python Environment'}

In [243]:
reduce(lambda x, y: x + y, [b.price for b in BOOKS])

225.30000000000004

In [245]:
long_books = filter(lambda book: book.number_of_pages >= 600, BOOKS)
len(list(long_books))

12

In [246]:
from functools import reduce

strings = [
    "Do not take life too seriously. You will never get out of it alive.",
    "My fake plants died because I did not pretend to water them.",
    "A day without sunshine is like, you know, night.",
    "Get your facts first, then you can distort them as you please.",
    "My grandmother started walking five miles a day when she was sixty. She's ninety-seven know and we don't know where she is.",
    "Life is hard. After all, it kills you.",
    "All my life, I always wanted to be somebody. Now I see that I should have been more specific.",
    "Everyone's like, 'overnight sensation.' It's not overnight. It's years of hard work.",
]

In [249]:
longest = reduce(lambda string1, string2: string1 > string2, [len(string) for string in strings] )